*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(./Untitled\ design\ \(4\).png);
    background-size: cover;
}
.container{
    width: 45%;
    min-width: 500px;
    background-color: none;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
   box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}
.scores{
    margin-bottom: 50px;
    text-align: right;
}
.weapons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.weapons button{
    background-color: #8c52ff;
    color: white;
    border: none;
    font-size: 120px;
    /* height: 100px;
    width: 100px; */
    /* border-radius: 50%; */
    outline: none;
    cursor: pointer;
}
.details{
    margin-top: 1px;
    text-align: center;
}
.details{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 30px;
}

.scores{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 30px;
   
}
#result{
    width: 250px;
    /* padding: 10px 0; */
    margin: 30px auto;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 18px;
}
#user_choice,
#computer_choice{
    font-weight: 400;
    margin-bottom: 10px;

}
span{
    font-weight: 200;
}



.btn{
    border-radius: 5px;
    background: rgb(235, 229, 229);
    padding: 6px;
    width: 200px;
    border-radius: 20px;
    font-size: 4vh;
    margin-top: 88vh;
    margin-left: 87vh;
    text-align: center;
    font-family: "Comfortaa", cursive;
    cursor: pointer;
}