body{
    margin: 0;
    padding: 0;
    background-size: auto;
    background-position: center;
    font-family: 'Bunch Blossoms Personal Use', sans-serif;
    background-image: url(Untitled\ design\ \(4\).png); 
                                             
}

.navbar {
    position:sticky;
    top: 0; 
    width: 100%;
    display: flex;
    padding: 1px;
    background-color: #470f341f;
    z-index: 1000;
  }
  
  .navbar a {
  float: right;
  color: #0c0b0b;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 25px;
  }
  
  
  .navbar a:hover {
  background-color: #720660;
  border-radius: 5px;
  }
.welcome{
    width: 350px;
    height: 400px;
    background-color: none; 
    color: rgb(214, 169, 169);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}


img{
    width: 100vw;
    height: max-content;
    opacity: 85%;
}

h1{
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Bunch Blossoms Personal Use', sans-serif;
    color: rgb(233, 202, 202);
}

button{
    border: none;
    outline: none;
    height: 50px;
    width: 22vw;
    background: rgb(248, 235, 235);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Bunch Blossoms Personal Use', sans-serif;
    border-radius: 50px;   
    align-items: center;
}

a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Bunch Blossoms Personal Use', sans-serif;
}