@import url("http://fonts.cdnfonts.com/css/dread-ringer");
body {
  margin: 0;
  padding: 0;
  font-family: "Bunch Blossoms Personal Use", sans-serif;
  background-image: url(media/bg3.png);
  background-repeat: no-repeat;
  background-size:210vh  100vw ;
}

.navbar {
  position: sticky;
  top: 0;
  width: 500vh;
  flex-direction: row;
  display: flex;
  padding: 2px;
  background-color: #470f341f;
  
}

.navbar a {
  float: right;
  color: #f1eeee;
  /* text-align: center; */
  padding: 10px 60px;
  text-align-last: center;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #720660;
  border-radius: 5px;
}

.welcome {
  width: 350px;
  height: 400px;
  background: rgba(8, 8, 8, 0.904);
  color: rgb(214, 169, 169);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
}

img {
  width: 100vw;
  height: max-content;
  opacity: 85%;
}

h1 {
  margin: 0%;
  padding: 0 0 20px;
  text-align: center;
  font-size: 50px;
  font-family: "Dread Ringer Staggered", sans-serif;
  letter-spacing: 2px;
  color: rgb(233, 202, 202);
}

button {
  border: none;
  outline: none;
  height: 50px;
  margin-left: 3vh;
  background: rgb(248, 235, 235);
  color: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 50px;
  align-items: center;
}

a {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  width: 12px;
  margin-left: 1vh;
}
